/*
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
} 
.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width: 80%;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}*/
/*
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.komola {
    color: orange;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.fast {
    width: 50%;
    padding-left: 5%;
}
.fast img {
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 10px;
}
.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.orange {
    color: orange;
}
h1 {
    font-size: 60px;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.main {
    width: 50%;
    margin-left: 10px;
}
.main img {
    width: 80%;
}
.button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}